<app-header-menu></app-header-menu>
<div class="container">
  <h3>{{ title }}</h3>
  <p [innerText]="title"></p>

  <p>Burada, "{{paragraph}}" ifadesi controller'dan bind edilmiştir. Bu uygulama {{ createdDate }} tarihinde
    oluşturulmuştur</p>

  <p>Bu arada isChecked özelliği {{ isChecked }}</p>


  <app-add-todo-item (addNewItemEvent)="newTaskEventHandled($event)"></app-add-todo-item>

  <h4>Yapılacak toplam iş: {{ getTotalTasksUndone() }} </h4>
  <button class="btn btn-success" (click)="filter()">{{ buttonText }}</button>

  <div *ngFor="let todoItem of todoItems">
    <app-show-todo-item [currentTodo]="todoItem"></app-show-todo-item>
  </div>
</div>